@model (int ActiveStageNumber, int ProjectId)
@{ 
    var activeNavs = (List<ActiveStageNav>)ViewBag.ActiveStageNavs;
}

<div class="nav-section-items">
    @foreach (var nav in activeNavs) {
        var activeClass = nav.IsComplete ? "completed" : "pending";
        var iconClass = nav.IsComplete ? "icon fas fa-check-circle" : "icon fas fa-exclamation-circle";
        var version = nav.Version == null ? string.Empty : $"V{nav.Version}";

        <div class="nav @activeClass">
            <a class="item-wrapper" href="@nav.Url">
                <div class="icon-descrip">
                    <i class="@iconClass"></i>
                    <div class="descrip">@nav.Component</div>
                </div>
                <div class="version">@version</div>
            </a>
        </div>
    }
    @if ((bool)ViewBag.DisplayMoveToGate) {
        <form method="post" class="actions" action="/vbpd-projects/@Model.ProjectId/gates/move-to-gate">
            @Html.AntiForgeryToken()
            <input type="submit" class="btn green" value="Move to Gate" />
        </form>
    }
</div>