@model List<NavigationStage>

@foreach (var item in Model) {
    <div class="dropdown">
        <div class="item-wrapper">
            <div class="descrip">Stage @item.StageNumber</div>
        </div>
        <div class="dropdown-items">
            <div class="dropdown-item">
                <a class="item-wrapper" href="@item.SchedulesUrl">
                    <i class="icon"></i>
                    <div class="descrip">Schedules</div>
                </a>
            </div>
            <div class="dropdown-item">
                <a class="item-wrapper" href="@item.DesignConceptsUrl">
                    <i class="icon"></i>
                    <div class="descrip">Design Concepts</div>
                </a>
            </div>
            <div class="dropdown-item">
                <a class="item-wrapper" href="@item.RisksUrl">
                    <i class="icon"></i>
                    <div class="descrip">Risks</div>
                </a>
            </div>
            @foreach (var child in item.ProjectJustificationNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Project Justification: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.BusinessCaseNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Business Case: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.ProductInfrigmentPatentabilityNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Product Infrigment Patentability: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.KeyCharacteristicNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Key Characteristic: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.CustomerDesignApprovalNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Customer Design Approval: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.InvestmentPlanNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Investment Plan: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.ProductIntroChecklistNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Product Intro Checklist: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.RampResourcePlanNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Ramp Resource Plan: Version @child.Version</div>
                    </a>
                </div>

            }
            @foreach (var child in item.QualificationTestingNavs) {
                <div class="dropdown-item">
                    <a class="item-wrapper" href="@child.Url">
                        <i class="icon"></i>
                        <div class="descrip">Qualification Testing: Version @child.Version</div>
                    </a>
                </div>

            }
        </div>
    </div>
}
