@model (int ActiveStageNumber, int ProjectId)
@{
    var activeStageNavs = (List<ActiveNav>)ViewBag.ActiveStageNavs;
    var activeGateNavs = (List<ActiveNav>)ViewBag.ActiveGateNavs;

    var incompleteParents = activeStageNavs.Where(w => w.IsComplete != null && !(bool)w.IsComplete && w.Visible).ToList();
    var parentsWithIncompleteChildren = activeStageNavs
        .Where(
            parent =>
                parent.ChildNavs.Count(
                    child =>
                        child.IsComplete != null &&
                        !(bool)child.IsComplete &&
                        child.Visible
        ) > 0).ToList();

    bool showMoveToGateBtn = (incompleteParents.Count + parentsWithIncompleteChildren.Count) == 0;

    bool isStage = activeStageNavs.Count > 0;
    string activeIfGate = !isStage ? "active" : string.Empty;
}

<div class="nav-section @activeIfGate">
    @if (isStage) {
        <div class="item-wrapper">
            <div class="descrip">Current Tasks - Stage @ViewBag.DisplayNumber</div>
        </div>
        <div class="nav-section-items">
            <div class="nav-section-items">
                @foreach (var nav in activeStageNavs.Where(w => w.Visible).ToList()) {
                    var activeClass = nav.IsComplete == null ? string.Empty : (bool)nav.IsComplete ? "completed" : "pending";
                    var iconClass = nav.IsComplete == null ? string.Empty : (bool)nav.IsComplete ? "icon fas fa-check-circle" : "icon fas fa-exclamation-circle";
                    var isActiveClass = Context.Request.Path.Value.ToLower() == nav.Url.ToLower() ? "active" : string.Empty;

                    <div class="nav @activeClass @isActiveClass">
                        <a class="item-wrapper" href="@nav.Url">
                            <div class="icon-descrip">
                                <i class="@iconClass"></i>
                                <div class="descrip">@nav.Component</div>
                            </div>
                        </a>

                        @foreach (var child in nav.ChildNavs) {
                            var activeClassChild = nav.IsComplete == null ? string.Empty : (bool)child.IsComplete ? "completed" : "pending";
                            var iconClassChild = nav.IsComplete == null ? string.Empty : (bool)child.IsComplete ? "icon fas fa-check-circle" : "icon fas fa-exclamation-circle";
                            var disabledClass = !nav.Visible ? "disabled" : string.Empty;
                            var isActiveClassChild = Context.Request.Path.Value.ToLower() == child.Url.ToLower() ? "active" : string.Empty;

                            <div class="nav @activeClassChild @disabledClass @isActiveClassChild">
                                @if (!child.Visible) {
                                    <div class="item-wrapper">
                                        <div class="icon-descrip">
                                            <i class="icon fas fa-square"></i>
                                            <div class="descrip">@child.Component</div>
                                        </div>
                                    </div>
                                }
                                else {
                                    <a class="item-wrapper" href="@child.Url">
                                        <div class="icon-descrip">
                                            <i class="@iconClassChild"></i>
                                            <div class="descrip">@child.Component</div>
                                        </div>
                                    </a>
                                }

                            </div>
                        }
                    </div>
                }
                @if (showMoveToGateBtn) {
                    <form method="post" class="actions" action="/projects/@Model.ProjectId/gates/move-to-gate">
                        @Html.AntiForgeryToken()
                        <input type="submit" class="btn green" value="Move to Gate" />
                    </form>
                    <div class="actions">
                        <div class="off-to-see-the-wizard">
                            <div class="route" style="display: none">/projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/powerpoint/download</div>
                            <button class="btn green present"><i class="fas fa-download"></i> Download Powerpoint</button>
                        </div>
                    </div>
                }
            </div>
            
        </div>
    }
    else {
        <div class="item-wrapper">
            <div class="descrip">Gate @ViewBag.DisplayNumber</div>
        </div>
        <div class="nav-section-items">
            <div class="nav-section-items">
                @foreach (var nav in activeGateNavs.Where(w => w.Visible).ToList()) {
                    var activeClass = nav.IsComplete == null ? string.Empty : (bool)nav.IsComplete ? "completed" : "pending";
                    var iconClass = nav.IsComplete == null ? string.Empty : (bool)nav.IsComplete ? "icon fas fa-check-circle" : "icon fas fa-exclamation-circle";
                    var isActiveClass = Context.Request.Path.Value.ToLower() == nav.Url.ToLower() ? "active" : string.Empty;

                    <div class="nav @activeClass @isActiveClass">
                        <a class="item-wrapper" href="@nav.Url">
                            <div class="icon-descrip">
                                <i class="@iconClass"></i>
                                <div class="descrip">@nav.Component</div>
                            </div>
                        </a>
                    </div>
                }
                <div class="actions">
                    @if (!(bool)ViewBag.IsFinalGate) {
                        if (ViewData["ProjectState"].ToString() == "1") {
                            <a class="btn green" href="/projects/@Model.ProjectId/gates/go-decision">Go</a>
                            <a class="btn yellow" href="/projects/@Model.ProjectId/gates/on-hold-decision">On Hold</a>
                            <a class="btn red" href="/projects/@Model.ProjectId/gates/close-decision">Close</a>
                        }

                        else if (ViewData["ProjectState"].ToString() == "2") {
                            <form method="post" action="/projects/@Model.ProjectId/gates/remove-hold">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn green" value="Remove Hold" />
                            </form>
                        }
                        else {
                            <form method="post" action="/projects/@Model.ProjectId/gates/remove-close">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn green" value="Open" />
                            </form>
                        }
                    }
                    else if ((bool)ViewBag.IsFinalGate) {
                        <form method="post" action="/projects/@Model.ProjectId/gates/complete">
                            @Html.AntiForgeryToken()
                            <input type="submit" class="btn green" value="Close" />
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>