@model (int ActiveStageNumber, int ProjectId)
@{
    var activeStageNavs = (List<ActiveNav>)ViewBag.ActiveStageNavs;
    var activeGateNavs = (List<ActiveNav>)ViewBag.ActiveGateNavs;

    bool showMoveToGateBtn = activeStageNavs
                .FirstOrDefault(f => !f.IsComplete && f.Visible) == null &&
                activeStageNavs.Count > 0;
}

<div class="nav-section active">
    @if (activeStageNavs.Count > 0) {
        <div class="item-wrapper">
            <div class="descrip">Stage @Model.ActiveStageNumber</div>
        </div>
        <div class="nav-section-items">
            <div class="nav-section-items">
                @foreach (var nav in activeStageNavs.Where(w => w.Visible).ToList()) {
                    var activeClass = nav.IsComplete ? "completed" : "pending";
                    var iconClass = nav.IsComplete ? "icon fas fa-check-circle" : "icon fas fa-exclamation-circle";

                    <div class="nav @activeClass">
                        <a class="item-wrapper" href="@nav.Url">
                            <div class="icon-descrip">
                                <i class="@iconClass"></i>
                                <div class="descrip">@nav.Component</div>
                            </div>
                        </a>
                    </div>
                }
                @if (showMoveToGateBtn) {
                    <form method="post" class="actions" action="/vbpd-projects/@Model.ProjectId/gates/move-to-gate">
                        @Html.AntiForgeryToken()
                        <input type="submit" class="btn green" value="Move to Gate" />
                    </form>
                }
            </div>
        </div>
    }
    else {
        <div class="item-wrapper">
            <div class="descrip">Gate @Model.ActiveStageNumber</div>
        </div>
        <div class="nav-section-items">
            <div class="nav-section-items">
                @foreach (var nav in activeGateNavs.Where(w => w.Visible).ToList()) {
                    var activeClass = nav.IsComplete ? "completed" : "pending";
                    var iconClass = nav.IsComplete ? "icon fas fa-check-circle" : "icon fas fa-exclamation-circle";
                    var version = nav.Version == null ? string.Empty : $"V{nav.Version}";

                    <div class="nav @activeClass">
                        <a class="item-wrapper" href="@nav.Url">
                            <div class="icon-descrip">
                                <i class="@iconClass"></i>
                                <div class="descrip">@nav.Component</div>
                            </div>
                            <div class="version">@version</div>
                        </a>
                    </div>
                }
                <div class="actions">
                    @if ((bool)ViewBag.DisplayGateDecisions) {
                        if (ViewData["ProjectState"].ToString() == "1") {
                            <form method="post" action="/vbpd-projects/@Model.ProjectId/gates/go">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn green" value="Go" />
                            </form>
                            <form method="post" action="/vbpd-projects/@Model.ProjectId/gates/on-hold">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn yellow" value="On Hold" />
                            </form>
                            <form method="post" action="/vbpd-projects/@Model.ProjectId/gates/close">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn red" value="Close" />
                            </form>
                        }
                        else if (ViewData["ProjectState"].ToString() == "2") {
                            <form method="post" action="/vbpd-projects/@Model.ProjectId/gates/go">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn green" value="Remove Hold" />
                            </form>
                        }
                        else {
                            <form method="post" action="/vbpd-projects/@Model.ProjectId/gates/go">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn green" value="Unkill" />
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>