@model List<NavigationStage>

@foreach (var item in Model) {
    <div class="nav">
        <div class="item-wrapper">
            <div class="descrip">Stage @item.StageNumber</div>
        </div>
        <div class="nav-section-items">
            @if (item.DisplaySchedules) {
                var activeClass = Context.Request.Path.Value == item.SchedulesUrl ? "active" : string.Empty;

                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@item.SchedulesUrl">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Schedules</div>
                        </div>
                    </a>
                </div>
            }

            @if (item.DisplayRisks) {
                var activeClass = Context.Request.Path.Value == item.RisksUrl ? "active" : string.Empty;

                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@item.RisksUrl">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Risks</div>
                        </div>
                    </a>
                </div>
            }

            @if (item.DisplayStageFiles) {
                var activeClass = Context.Request.Path.Value == item.StageFilesUrl ? "active" : string.Empty;

                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@item.StageFilesUrl">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Required Documents</div>
                        </div>
                    </a>
                </div>
            }

            @foreach (var child in item.PostLaunchReviewNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Post Launch Review</div>
                        </div>
                    </a>
                </div>
            }

            @foreach (var child in item.ProjectJustificationNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Technical Feasibility &amp; Scope</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.BusinessCaseNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Business Case</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.ProductInfrigmentPatentabilityNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Product Infrigment Patentability</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.KeyCharacteristicNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Key Characteristic</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.CustomerDesignApprovalNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Customer Design Approval</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.InvestmentPlanNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Investment Plan</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.ProductIntroChecklistNavs) {
                var activeClass = Context.Request.Path.Value == child.Url ? "active" : string.Empty;
                <div class="nav @activeClass">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Product Intro Checklist</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
