@model List<NavigationStage>

@foreach (var item in Model) {
    <div class="dropdown">
        <div class="item-wrapper">
            <div class="descrip">Stage @item.StageNumber</div>
        </div>
        <div class="dropdown-items">
            @if (item.DisplaySchedules) {
                <div class="nav">
                    <a class="item-wrapper" href="@item.SchedulesUrl">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Schedules</div>
                        </div>
                    </a>
                </div>
            }

            @if (item.DisplayRisks) {
                <div class="nav">
                    <a class="item-wrapper" href="@item.RisksUrl">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Risks</div>
                        </div>
                    </a>
                </div>
            }

            @foreach (var child in item.ProjectJustificationNavs) {
                <div class="nav">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Project Justification: Version @child.Version</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.BusinessCaseNavs) {
                <div class="nav">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Business Case: Version @child.Version</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.ProductInfrigmentPatentabilityNavs) {
                <div class="nav">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Product Infrigment Patentability: Version @child.Version</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.KeyCharacteristicNavs) {
                <div class="nav">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Key Characteristic: Version @child.Version</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.CustomerDesignApprovalNavs) {
                <div class="nav">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Customer Design Approval: Version @child.Version</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.InvestmentPlanNavs) {
                <div class="nav">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Investment Plan: Version @child.Version</div>
                        </div>
                    </a>
                </div>

            }
            @foreach (var child in item.ProductIntroChecklistNavs) {
                <div class="nav">
                    <a class="item-wrapper" href="@child.Url">
                        <div class="icon-descrip">
                            <i class="icon fas fa-square"></i>
                            <div class="descrip">Product Intro Checklist: Version @child.Version</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
