@model List<dbModels.OptionalFile>

@{
    ViewData["Title"] = "Optional Stage Files";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1><i class="icon fas fa-info-circle"></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<div class="list-component">
    <div class="wrapper">
        <div class="title">
            <div>Download</div>
            <div>Category</div>
            <div>Description</div>
            <div>Created</div>
            <div>Uploaded By</div>
        </div>
        <div class="items">
            @foreach (var upload in Model)
            {
                <div class="item">
                    <div class="item-wrapper">
                        <a href="@upload.Url" target="_blank">
                            <i class="fas fa-download fa-lg"></i>
                        </a>
                        <div>@upload.FileTag.Name</div>
                        <div>@upload.Description</div>
                        <div>@upload.CreateDate</div>
                        <div>@upload.ModifiedByUser</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
