@model dbModels.InvestmentPlan

@{
    ViewData["Title"] = "Investment Plan";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1><i class="icon fas fa-info-circle"></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>Investment Plan</h1>
        </div>
        <div class="details">
            <div class="detail">
                <div class="label">Item #(Item Number)</div>
                <div class="value">@Model.ItemNumber</div>
            </div>
            <div class="detail">
                <div class="label">Item</div>
                <div class="value">@Model.Item</div>
            </div>
            <div class="detail">
                <div class="label">Purchased From</div>
                <div class="value">@Model.PurchasedFrom</div>
            </div>
            <div class="detail">
                <div class="label">Ship to Location</div>
                <div class="value">@Model.ShipToLocation</div>
            </div>
            <div class="detail">
                <div class="label">Cost</div>
                <div class="value">@Model.Cost</div>
            </div>
            <div class="detail">
                <div class="label">Terms</div>
                <div class="value">@Model.Terms</div>
            </div>
        </div>
    </div>
</div>

