@model InvestmentPlanViewModel

@{
    ViewData["Title"] = "Detail";
}

    <div class="detail-component">
        <div class="wrapper">
            <div class="fields">
                <div class="field">
                    <div class="label">Item #(Item Number)</div>
                    <div class="data">@Model.ItemNumber</div>
                </div>
                <div class="field">
                    <div class="label">Item</div>
                    <div class="data">@Model.Item</div>
                </div>
                <div class="field">
                    <div class="label">Purchased From</div>
                    <div class="data">@Model.PurchasedFrom</div>
                </div>
                <div class="field">
                    <div class="label">Ship to Location</div>
                    <div class="data">@Model.ShipToLocation</div>
                </div>
                <div class="field">
                    <div class="label">Cost</div>
                    <div class="data">@Model.Cost</div>
                </div>
                <div class="field">
                    <div class="label">Terms</div>
                    <div class="data">@Model.Terms</div>
                </div>
            </div>
        </div>
    </div>

