@model forms.InvestmentPlanForm

@{
    ViewData["Title"] = "Edit Investment Plan";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1 class="text-black"><i class='icon fas fa-edit'></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<form class="historyform-component" method="post">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="form-section">
            <div class="fields">
                <div class="field">
                    <div class="label">Item #(Item Number) </div>
                    <input asp-for="ItemNumber" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ItemNumber")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Item</div>
                    <input asp-for="Item" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Item")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Purchased From</div>
                    <input asp-for="PurchasedFrom" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "PurchasedFrom")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Ship to Location</div>
                    <input asp-for="ShipToLocation" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ShipToLocation")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Cost</div>
                    <input asp-for="Cost" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Cost")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Terms</div>
                    <input asp-for="Terms" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Terms")
                    </ul>
                    <div class="field">
                        <input type="submit" class="data btn" value="Edit & Save Version @Model.Version" />
                    </div>
                </div>
            </div>
        </div>
        <div class="versioning-section">
            <div class="choose-history">
                <div class="select-history-wrapper">
                    <select class="select-history select2">
                        <option value="clear">CLEAR</option>
                        <option value="all">VIEW ALL</option>
                        @foreach (var version in Model.Versions) {
                            <option value="@version.Id">Stage: @version.Stage.StageNumber => Version: @version.Version => CreatedBy: @version.ModifiedByUser</option>
                        }
                    </select>
                </div>
            </div>
            <div class="versions">
                @foreach (var version in Model.Versions) {
                    <div showversion="@version.Id" class="version">
                        <div class="values">
                            <div class="select-single-field">
                                <div class="label">Item #(Item Number)</div>
                                <div class="data">@version.ItemNumber</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Item</div>
                                <div class="data">@version.Item</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Purchased From</div>
                                <div class="data">@version.PurchasedFrom</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Ship to Location</div>
                                <div class="data">@version.ShipToLocation</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Cost</div>
                                <div class="data">@version.Cost</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Terms</div>
                                <div class="data">@version.Terms</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</form>
