@model List<SchedulesViewModel>

<form class="form-component" method="post" action="/vbpd-projects/@ViewBag.ProjectId/stages/@ViewBag.StageNumber/schedules/edit">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="fields">
            @for (int i = 0; i < Model.Count; i++)           
            {
            <div class="field">
                <div class="label">@Model[i].ScheduleType.Name</div>
                <input type="hidden" asp-for="@Model[i].TagId" />
                <input type="hidden" asp-for="@Model[i].Id" />
                <input type="hidden" asp-for="@Model[i].StageId" />
                <input asp-for="@Model[i].ViewModelDate" class="data" type="text" />
            </div>
            }

            <div class="field">
                <input type="submit" class="data btn" value="SUBMIT" />
            </div>
        </div>
    </div>
</form>