@model List<ScheduleForm>
@{
    ViewData["Title"] = "Edit Schedules";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1 class="text-black"><i class='icon fas fa-edit'></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<form class="form-component" method="post">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="fields">
            @for (int i = 0; i < Model.Count; i++) {
                <div class="field">
                    <div class="label">@Model[i].ScheduleType.Name</div>
                    <input type="hidden" asp-for="@Model[i].TagId" />
                    <input type="hidden" asp-for="@Model[i].Id" />
                    <input type="hidden" asp-for="@Model[i].StageId" />
                    <input asp-for="@Model[i].Date" class="data" type="date" />
                </div>
            }

            <div class="field">
                <input type="submit" class="data btn" value="SUBMIT" />
            </div>
        </div>
    </div>
</form>
