@model CreateVersionViewModel

<div class="validation-page-component">
    <div class="wrapper">
        <div class="validation">
            <div class="title">
                Validation required
            </div>
            <div class="text">
                By creating a new Version for @Model.ComponentName you will not be able to edit any previous versions (i.e. current active version @Model.CurrentVersion).
            </div>
            <div class="actions">
                <div class="action-wrapper">
                    <form action="@Model.PostPath" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn green large">
                            <i class="fas fa-lock"></i> LOCK VERSION @Model.CurrentVersion AND CONTINUE TO @(Model.CurrentVersion + 1)
                        </button>
                    </form>
                    <a class="btn grey large" href="@Model.BackPath"><i class="fas fa-ban"></i> Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>