@model dbModels.ProductIntroChecklist

@{
    ViewData["Title"] = "Product Intro Checklist";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1><i class="icon fas fa-info-circle"></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>


<div class="layout-horrizontal-component">
    <div class="wrapper">
        <div class="sections">
            <div class="section">
                <div class="detail-component">
                    <div class="wrapper">
                        <div class="details">
                            <div class="detail">
                                <div class="label">Is Marketing Required</div>
                                <div class="value">@Model.IsMarketingRequired</div>
                            </div>
                            <div class="detail">
                                <div class="label">Filename</div>
                                <div class="value">@Model.Filename</div>
                            </div>
                            <div class="detail">
                                <div class="label">Approved By</div>
                                <div class="value">@Model.ApprovedBy</div>
                            </div>
                            <div class="detail">
                                <div class="label">Approved By Date</div>
                                <div class="value">@Model.ApprovedByDate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
            </div>
        </div>
    </div>
</div>
