@model forms.ProductIntroChecklistForm

@{
    ViewData["Title"] = "Edit Product Intro Checklist";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1 class="text-black"><i class='icon fas fa-edit'></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<form class="historyform-component" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="form-section">
            <div class="fields">
                <div class="field">
                    <input asp-for="IsMarketingRequired" class="data" />
                    <label asp-for="IsMarketingRequired"></label>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "IsMarketingRequired")
                    </ul>
                </div>
                    @*<div class="field">
                    <div class="label">Filename</div>
                    <input asp-for="Filename" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Filename")
                    </ul>
                    </div>*@
                <div class="field">
                    <div class="label">Upload file</div>
                    <input class="file-upload" asp-for="File" />
                    <label asp-for="File" class="data">
                        <span></span>
                        <strong><i class="fas fa-upload"></i> Choose a file...</strong>
                    </label>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "File")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Approved By</div>
                    <input asp-for="ApprovedBy" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ApprovedBy")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Approved By Date</div>
                    <input asp-for="ApprovedByDate" type="date" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ApprovedByDate")
                    </ul>
                </div>
                <div class="field">
                    <input type="submit" class="data btn" value="Save" />
                </div>
            </div>
        </div>

        <div class="versioning-section">
            <div class="choose-history">
                <div class="select-history-wrapper">
                    <select class="select-history select2">
                        <option value="clear">CLEAR</option>
                        <option value="all">VIEW ALL</option>
                        @foreach (var version in Model.Versions) {
                            <option value="@version.Id">Stage: @version.Stage.StageNumber => Version: @version.Version => CreatedBy: @version.ModifiedByUser</option>
                        }
                    </select>
                </div>
            </div>
            <div class="versions">
                @foreach (var version in Model.Versions) {
                    <div showversion="@version.Id" class="version">
                        @*<button class="btn full-prepopulate">IS MARKETING REQUIRED</button>*@
                        <div class="values">
                            <div class="select-single-field">
                                <div class="label">Is Marketing Required</div>
                                <div class="data">@(version.IsMarketingRequired?"Yes":"No")</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">FILENAME</div>
                                <div class="data">
                                    @if (!String.IsNullOrEmpty(Model.Filename))
                                    {
                                        <a href="@Model.Filename" target="_blank">
                                            <i class="fas fa-download fa-lg"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <span>No file uploaded</span>
                                    }
                                </div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">APPROVED BY</div>
                                <div class="data">@version.ApprovedBy</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">APPROVED BY DATE</div>
                                <div class="data">@version.ApprovedByDate</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>
