@model forms.ProductInfrigmentPatentabilityForm

<form class="form-component" method="post" action="@Context.Request.Path.Value">
    <input asp-for="Id" type="hidden" />

    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="fields">
            <div class="field">
                <div class="label">Patent #</div>
                <input asp-for="PatentNumber" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "PatentNumber")
                </ul>
            </div>
            <div class="field">
                <div class="label">Issue</div>
                <input asp-for="Issue" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "Issue")
                </ul>
            </div>
            <div class="field">
                <div class="label">Mitigation Strategy</div>
                <input asp-for="MitigationStrategy" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "MitigationStrategy")
                </ul>
            </div>
            <div class="field">
                <input asp-for="ContainsFeaturesRequiringIPProtection" class="data" />
                <label asp-for="ContainsFeaturesRequiringIPProtection"></label>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ContainsFeaturesRequiringIPProtection")
                </ul>
            </div>
            <div class="field">
                <input asp-for="InventionDisclosureSubmitted" class="data" />
                <label asp-for="InventionDisclosureSubmitted"></label>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "InventionDisclosureSubmitted")
                </ul>
            </div>
            <div class="field">
                <div class="label">When was the 1st time the product was offered for sale?</div>
                <input asp-for="ProductFirstTimeOfferedForSale" type="date" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ProductFirstTimeOfferedForSale")
                </ul>
            </div>
            <div class="field">
                <button type="submit" class="data btn green"><i class="fas fa-save"></i> Submit</button>
                <a class="btn grey" href="#" onclick="location.href = document.referrer; return false;"><i class="fas fa-chevron-circle-left"></i> Return</a>
            </div>
        </div>
    </div>
</form>