@model ProductInfrigmentPatentabilityViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_VbpdProjectDetailLayout";

}

<form class="historyform-component" method="post" action="/vbpd-projects/@Model.Stage.ProjectId/stages/@ViewBag.CurrentStageNumber/product-infrigment-patentability/edit">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="form-section">
            <div class="fields">
                <div class="field">
                    <div class="label">Are there potential infringement issues?</div>
                    <input asp-for="ContainsFeaturesRequiringIPProtection" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ContainsFeaturesRequiringIPProtection")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Patent #</div>
                    <input asp-for="PatentNumber" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "PatentNumber")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Issue</div>
                    <input asp-for="Issue" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Issue")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Mitigation Strategy</div>
                    <input asp-for="MitigationStrategy" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "MitigationStrategy")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Are there features of the product that require IP protection?</div>
                    <input asp-for="ContainsFeaturesRequiringIPProtection" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ContainsFeaturesRequiringIPProtection")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Has an invention disclosure been submitted?</div>
                    <input asp-for="InventionDisclosureSubmitted" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "InventionDisclosureSubmitted")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">When was the 1st time the product was offered for sale?</div>
                    <input asp-for="ProductFirstTimeOfferedForSale" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProductFirstTimeOfferedForSale")
                    </ul>
                </div>
                <div class="field">
                    <div class="field">
                        <input type="submit" class="data btn" value="Edit & Save Version @Model.Version" />
                    </div>
                </div>
            </div>
        </div>

        <div class="versioning-section">
            <div class="choose-history">
                <div class="select-history-wrapper">
                    <select class="select-history select2">
                        <option value="clear">CLEAR</option>
                        <option value="all">VIEW ALL</option>
                        @foreach (var version in Model.Versions)
                        {
                            <option value="@version.Id">Stage: @version.Stage.StageNumber => Version: @version.Version => CreatedBy: @version.ModifiedByUser</option>
                        }
                    </select>
                </div>
            </div>
            <div class="versions">
                @foreach (var version in Model.Versions)
                {
                    <div showversion="@version.Id" class="version">
                        <div class="values">
                            <div class="select-single-field">
                                <div class="label">Are there potential infringement issues?</div>
                                <div class="data">@Model.ContainsFeaturesRequiringIPProtection</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Patent #</div>
                                <div class="data">@Model.PatentNumber</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Issue</div>
                                <div class="data">@Model.Issue</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Mitigation Strategy</div>
                                <div class="data">@Model.MitigationStrategy</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Are there features of the product that require IP protection?</div>
                                <div class="data">@Model.ContainsFeaturesRequiringIPProtection</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Has an invention disclosure been submitted?</div>
                                <div class="data">@Model.InventionDisclosureSubmitted</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">When was the 1st time the product was offered for sale?</div>
                                <div class="data">@Model.ProductFirstTimeOfferedForSale</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>
