@model VBPDProjectDetailViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "_VbpdProjectDetailLayout";
}



<div class="detail-component">
    <div class="wrapper">
        <div class="header-wrapper">
            <div class="header">
            </div>
        </div>
        <div class="details">
            <div class="detail">
                <div class="label">SALESFORCE</div>
                <div class="value">@Model.Salesforce</div>
            </div>
            <div class="detail">
                <div class="label">ENGINEERING CHECKLIST URL</div>
                <div class="value">@Model.EngineeringChecklistUrl</div>
            </div>
            <div class="detail">
                <div class="label">PROJECT PROCESSTYPE</div>
                <div class="value">@Model.ProjectProcessType</div>
            </div>
            <div class="detail">
                <div class="label">EXPORT CONTROLCODE</div>
                <div class="value">@Model.ExportControlCode</div>
            </div>
            <div class="detail">
                <div class="label">PROJECT CATEGORIES</div>
                <div class="value">@Model.ProjectCategory.Name</div>

            </div>
            <div class="detail">
                <div class="label">PROJECT CLASSIFICATIONS</div>
                <div class="value">@Model.ProjectClassification.Name</div>

            </div>
            <div class="detail">
                <div class="label">PRODUCT LINES</div>
                <div class="value">@Model.ProductLine.Name</div>

            </div>
            <div class="detail">
                <div class="label">DESIGN AUTHORITIES</div>
                <div class="value">@Model.DesignAuthority.Name</div>

            </div>
            <div class="detail">
                <div class="label">EXPORT APPLICATION TYPES</div>

                <div class="value">@Model.ExportApplicationType.Name</div>

            </div>
            <div class="detail">
                <div class="label">SALES REGIONS</div>
                <div class="value">@Helpers.GetDelimited(Model.SalesRegions.Select(s => s.SalesRegion.Name).ToList())</div>

            </div>
            <div class="detail">
                <div class="label">CUSTOMERS</div>
                <div class="value">@Helpers.GetDelimited(Model.Customers.Select(s => s.Customers.Name).ToList())</div>

            </div>
        </div>
    </div>

</div>