@model forms.VBPDProjectDetailForm

@{
    ViewData["Title"] = "Edit Project Info";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1 class="text-black"><i class='icon fas fa-edit'></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<form class="historyform-component" method="post">
    @Html.AntiForgeryToken()

    <div class="wrapper">
        <div class="form-section">
            <div class="fields">
                <div class="field">
                    <div class="label">Salesforce.com #</div>
                    <input asp-for="Salesforce" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Salesforce")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Project Category</div>
                    <select asp-for="ProjectCategoryTagId" onchange="ChangeProcess()" asp-items="Model.ProjectCategoryTagDropDown" class="data projectcategory select2"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProjectCategoryTagId")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Process</div>
                    <input type="hidden" asp-for="ProjectProcessType" class="processtype" />
                    <select asp-for="ProjectProcessTypeSelect" asp-items="Model.ProcessDropDown" class="data process"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProjectProcessType")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Product Line</div>
                    <select asp-for="ProductLineTagId" asp-items="Model.ProductLineDropDown" class="data select2"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProductLineTagId")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Project Classification</div>
                    <select asp-for="ProjectClassificationTagId" asp-items="Model.ProjectClassificationDropDown" class="data select2"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProjectClassificationTagId")
                    </ul>
                </div>

                <div class="field">
                    <div class="label">Design Authority</div>
                    <select asp-for="DesignAuthorityTagId" asp-items="Model.DesignAuthorityDropDown" class="data select2"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "DesignAuthorityTagId")
                    </ul>
                </div>                
                <div class="field">
                    <div class="label">Export/Application Type</div>
                    <select asp-for="ExportApplicationTypeTagId" asp-items="Model.ExportApplicationTypeDropDown" class="data select2"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ExportApplicationTypeTagId")
                    </ul>
                </div>

                <div class="field">
                    <div class="label">End-Use Destination Country</div>
                    <input asp-for="EndUseDestinationCountry" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "EndUseDestinationCountry")
                    </ul>
                </div>


                <div class="field">
                    <div class="label">Export Control Code(s)</div>
                    <input asp-for="ExportControlCode" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ExportControlCode")
                    </ul>
                </div>

                <div class="field">
                    <div class="label">Export: Restricted Users</div>
                    <input asp-for="ExportRestrictedUsers" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ExportRestrictedUsers")
                    </ul>
                </div>

                <div class="field">
                    <div class="label">Sales Region</div>
                    <select asp-for="SalesRegionIds" asp-items="Model.SalesRegionsDropDown" class="data select2"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "SalesRegionIds")
                    </ul>
                </div>

                <div class="field">
                    <div class="label">Customer</div>
                    <select asp-for="CustomerIds" asp-items="Model.CustomerDropDown" class="data select2"></select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "CustomerIds")
                    </ul>
                </div>
                @*<div class="field">
            <div class="label">Upload Engineering Checklist</div>
            <input asp-for="EngineeringChecklistUrl" class="data" />
            <ul class="errors">
                @Html.Partial("_FieldErrors", "EngineeringChecklistUrl")
            </ul>
        </div>*@

                <div class="field">
                    <input type="submit" class="data btn" value="Edit & Save Version @Model.Version" />
                </div>
            </div>
        </div>
        <div class="versioning-section">
            <div class="choose-history">
                <div class="select-history-wrapper">
                    <select class="select-history select2">
                        <option value="clear">CLEAR</option>
                        <option value="all">VIEW ALL</option>
                        @foreach (var version in Model.Versions)
                        {
                            <option value="@version.Id">Version: @version.Version => CreatedBy: @version.ModifiedByUser</option>
                        }
                    </select>
                </div>
            </div>
            <div class="versions">
                @foreach (var version in Model.Versions)
                {
                    <div showversion="@version.Id" class="version">
                        <div class="values">
                            <div class="select-single-field">
                                <div class="label">Salesforce.com #</div>
                                <div class="data">@Model.Salesforce</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Project Category</div>
                                <div class="single-list-value">
                                    @Html.Partial("HistoryPartials/_SingleListValue", (Model.ProjectCategoryTagId, Model.ProjectCategoryTagDropDown))
                                </div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Process</div>
                                <div class="data">@Model.ProjectProcessType</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Product Line</div>
                                <div class="single-list-value">
                                    @Html.Partial("HistoryPartials/_SingleListValue", (Model.ProductLineTagId, Model.ProductLineDropDown))
                                </div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Project Classification</div>
                                <div class="single-list-value">
                                    @Html.Partial("HistoryPartials/_SingleListValue", (Model.ProjectClassificationTagId, Model.ProjectClassificationDropDown))
                                </div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Design Authority</div>
                                <div class="single-list-value">
                                    @Html.Partial("HistoryPartials/_SingleListValue", (Model.DesignAuthorityTagId, Model.DesignAuthorityDropDown))
                                </div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Export/Application Type</div>
                                <div class="single-list-value">
                                    @Html.Partial("HistoryPartials/_SingleListValue", (Model.ExportApplicationTypeTagId, Model.ExportApplicationTypeDropDown))
                                </div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">End-Use Destination Country</div>
                                <div class="data">@Model.EndUseDestinationCountry</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Export Control Code(s)</div>
                                <div class="data">@Model.ExportControlCode</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Export Restricted Users</div>
                                <div class="data">@Model.ExportRestrictedUsers</div>
                            </div>

                            <div class="select-single-field">
                                <div class="label">Sales Region</div>
                                <div class="list-values">
                                    @Html.Partial("HistoryPartials/_MultipleListValues", (Model.SalesRegionIds, Model.SalesRegionsDropDown))
                                </div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Customer</div>
                                <div class="list-values">
                                    @Html.Partial("HistoryPartials/_MultipleListValues", (Model.CustomerIds, Model.CustomerDropDown))
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        var projectcategory = document.querySelector("projectcategory");
        var process = document.querySelector(".processtype");
        document.querySelector(".process").value = document.querySelector(".processtype").value;
        document.querySelector(".process").setAttribute("disabled", "disabled");

        function ChangeProcess() {
            var projectcategory = document.querySelector(".projectcategory").value;
                document.querySelector(".process").removeAttribute("disabled");

            if (projectcategory != '219') {
                document.querySelector(".process").value = 'VBPD';
                document.querySelector(".processtype").value = 'VBPD';

            } else {
                document.querySelector(".process").value = 'VBPD-Lite';
                document.querySelector(".processtype").value = 'VBPD-Lite';

            }
           document.querySelector(".process").setAttribute("disabled", "disabled");

            return true;
        };
    </script>
}