@model BusinessCaseViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>Business Case</h1>
        </div>
        <div class="details">
            <div class="detail">
                <div class="label">Will Customer Fund Qual</div>
                <div class="value">@Model.WillCustomerFundQual</div>
            </div>
            <div class="detail">
                <div class="label">Will Customer Fund Tooling</div>
                <div class="value">@Model.WillCustomerFundTooling</div>
            </div>
            <div class="detail">
                <div class="label">Probabilty Of Win</div>
                <div class="value">@Model.ProbabiltyOfWin</div>
            </div>
            <div class="detail">
                <div class="label">Target First Year Gross Margin</div>
                <div class="value">@Model.TargetFirstYearGrossMargin</div>
            </div>
            <div class="detail">
                <div class="label">value Starting Date</div>
                <div class="value">@Model.DataStartingDate</div>
            </div>
            <div class="detail">
                <div class="label">Number Of Years</div>
                <div class="value">@Model.NumberOfYears</div>
            </div>
            <div class="detail">
                <div class="label">Discount Rate</div>
                <div class="value">@Model.DiscountRate</div>
            </div>
            <div class="detail">
                <div class="label">Tax Rate</div>
                <div class="value">@Model.TaxRate</div>
            </div>
            <div class="detail">
                <div class="label">Project Scope</div>
                <div class="value">@Model.ProjectScope</div>
            </div>
            <div class="detail">
                <div class="label">Work Requirement Amount</div>
                <div class="value">@Model.WorkRequirementAmount</div>
            </div>
            <div class="detail">
                <div class="label">Strategic Alignment</div>
                <div class="value">@Model.StrategicAlignment</div>
            </div>
            <div class="detail">
                <div class="label">Add To Tecnical Abilities</div>
                <div class="value">@Model.AddToTecnicalAbilities</div>
            </div>
            <div class="detail">
                <div class="label">Project Completion</div>
                <div class="value">@Model.ProjectCompletion</div>
            </div>
            <div class="detail">
                <div class="label">Time From Project Completion To RevenueGeneration</div>
                <div class="value">@Model.TimeFromProjectCompletionToRevenueGeneration</div>
            </div>
            <div class="detail">
                <div class="label">ManufacturingLocations</div>
                <div class="value">@Helpers.GetDelimited(Model.ManufacturingLocations.Select(s => s.ManufacturingLocations.Name).ToList())</div>
            </div>
            <div class="detail">
                <div class="label">Customer Market Analysis</div>
                <div class="value">@Model.CustomerMarketAnalysis</div>
            </div>
            <div class="detail">
                <div class="label">Changes</div>
                <div class="value">@Model.Changes</div>
            </div>
        </div>
    </div>
</div>

