@model BusinessCaseViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_VbpdProjectDetailLayout";
}
@*
        missing fields from form

    1)     Phase 1 / 2 Dropdown
    2)     WorkRequired attachment

*@
<form class="historyform-component" method="post" action="/vbpd-projects/@Model.Stage.ProjectId/stages/@Model.Stage.StageNumber/business-case/edit">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="form-section">
            <div class="fields">
                <div class="field">
                    <div class="label">Will Customer Fund Qual</div>
                    <input asp-for="WillCustomerFundQual" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "WillCustomerFundQual")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Will Customer Fund Tooling</div>
                    <input asp-for="WillCustomerFundTooling" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "WillCustomerFundTooling")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Probabilty Of Win</div>
                    <input asp-for="ProbabiltyOfWin" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProbabiltyOfWin")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Target First Year Gross Margin</div>
                    <input asp-for="TargetFirstYearGrossMargin" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "TargetFirstYearGrossMargin")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Data Starting Date</div>
                    <input asp-for="DataStartingDate" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "DataStartingDate")
                    </ul>
                </div>


                <div class="field">
                    <div class="label">Number Of Years</div>
                    <input asp-for="NumberOfYears" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "NumberOfYears")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Discount Rate</div>
                    <input asp-for="DiscountRate" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "DiscountRate")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Tax Rate</div>
                    <input asp-for="TaxRate" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "TaxRate")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Project Scope</div>
                    <input asp-for="ProjectScope" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProjectScope")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Work Requirement Amount</div>
                    <input asp-for="WorkRequirementAmount" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "WorkRequirementAmount")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Strategic Alignment</div>
                    <input asp-for="StrategicAlignment" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "StrategicAlignment")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Add To Tecnical Abilities</div>
                    <input asp-for="AddToTecnicalAbilities" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "AddToTecnicalAbilities")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Project Completion</div>
                    <input asp-for="ProjectCompletion" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ProjectCompletion")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Time From Project Completion To RevenueGeneration</div>
                    <input asp-for="TimeFromProjectCompletionToRevenueGeneration" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "TimeFromProjectCompletionToRevenueGeneration")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Manufactoring Locations</div>
                    <select asp-for="ManufacturingLocationsIds" asp-items="Model.ManufacturingLocationsDropDown" class="data select2">
                    </select>
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "ManufacturingLocationsIds")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Customer Market Analysis</div>
                    <input asp-for="CustomerMarketAnalysis" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "CustomerMarketAnalysis")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Changes</div>
                    <input asp-for="Changes" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Changes")
                    </ul>
                    <div class="field">
                        <input type="submit" class="data btn" value="SUBMIT" />
                    </div>
                </div>
            </div>
        </div>

        <div class="versioning-section">
            <div class="choose-history">
                <div class="select-history-wrapper">
                    <select class="select-history select2">
                        <option value="clear">CLEAR</option>
                        <option value="all">VIEW ALL</option>
                        @foreach (var version in Model.Versions)
                        {
                            <option value="@version.Id">Stage: @version.Stage.StageNumber => Version: @version.Version => CreatedBy: @version.ModifiedByUser</option>
                        }
                    </select>
                </div>
            </div>
            <div class="versions">
                @foreach (var version in Model.Versions)
                {
                    <div showversion="@version.Id" class="version">
                        <div class="values">
                            <div class="select-single-field">
                                <div class="label">Will Customer Fund Qual</div>
                                <div class="data">@version.WillCustomerFundQual</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Will Customer Fund Tooling</div>
                                <div class="data">@version.WillCustomerFundTooling</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Probabilty Of Win</div>
                                <div class="data">@version.ProbabiltyOfWin</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Target First Year Gross Margin</div>
                                <div class="data">@version.TargetFirstYearGrossMargin</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Data Starting Date</div>
                                <div class="data">@version.DataStartingDate</div>
                            </div>

                            <div class="select-single-field">
                                <div class="label">Number Of Years</div>
                                <div class="data">@version.NumberOfYears</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Discount Rate</div>
                                <div class="data">@version.DiscountRate</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Tax Rate</div>
                                <div class="data">@version.TaxRate</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Project Scope</div>
                                <div class="data">@version.ProjectScope</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Work Requirement Amount</div>
                                <div class="data">@version.WorkRequirementAmount</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Strategic Alignment</div>
                                <div class="data">@version.StrategicAlignment</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Add To Tecnical Abilities</div>
                                <div class="data">@version.AddToTecnicalAbilities</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Project Completion</div>
                                <div class="data">@version.ProjectCompletion</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Time From Project Completion To RevenueGeneration</div>
                                <div class="data">@version.TimeFromProjectCompletionToRevenueGeneration</div>
                            </div>
                            <div class="detail">
                                <div class="label">ManufacturingLocations</div>
                                <div class="value">-----@*@Helpers.GetDelimited(Model.ManufacturingLocations.Select(s => s.).ToList())*@</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Customer Market Analysis</div>
                                <div class="data">@version.CustomerMarketAnalysis</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Changes</div>
                                <div class="data">@version.Changes</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>