@model ProjectJustificationViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_VbpdProjectDetailLayout";
}

<form class="historyform-component" method="post" action="/vbpd-projects/@Model.Stage.ProjectId/stages/@ViewBag.CurrentStageNumber/project-justification/edit">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="form-section">
            <div class="fields">
                <div class="field">
                    <div class="label">Add To Inhouse Technical Abilities </div>
                    <input asp-for="AddToInhouseTechnicalAbilities" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "AddToInhouseTechnicalAbilities")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Advantages We Offer</div>
                    <input asp-for="AdvantagesWeOffer" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "AdvantagesWeOffer")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Benchmark Samples</div>
                    <input asp-for="BenchmarkSamples" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "BenchmarkSamples")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Competetion</div>
                    <input asp-for="Competetion" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "Competetion")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Customer Motivation</div>
                    <input asp-for="CustomerMotivation" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "CustomerMotivation")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Drawing Spec Standards</div>
                    <input asp-for="DrawingSpecStandards" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "DrawingSpecStandards")
                    </ul>
                </div>
                <div class="field">
                    <div class="label">Drawing Spec Standards</div>
                    <input asp-for="OtherRequirements" class="data" />
                    <ul class="errors">
                        @Html.Partial("_FieldErrors", "DrawingSpecStandards")
                    </ul>
                </div>
            </div>
            <div class="field">
                <div class="label">Regulatory Requirements</div>
                <input asp-for="RegulatoryRequirements" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "DrawingSpecStandards")
                </ul>
            </div>
            <div class="field">
                <div class="label">Scope</div>
                <input asp-for="Scope" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "Scope")
                </ul>
            </div>
            <div class="field">
                <div class="label">Technica lFeasibility</div>
                <input asp-for="TechnicalFeasibility" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "TechnicalFeasibility")
                </ul>
            </div>
            <div class="field">
                <div class="label">Why Ou rOffer Preferred</div>
                <input asp-for="WhyOurOfferPreferred" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "WhyOurOfferPreferred")
                </ul>
                <div class="field">
                    <input type="submit" class="data btn" value="Edit & Save Version @Model.Version" />
                </div>
            </div>
        </div>

        <div class="versioning-section">
            <div class="choose-history">
                <div class="select-history-wrapper">
                    <select class="select-history select2">
                        <option value="clear">CLEAR</option>
                        <option value="all">VIEW ALL</option>
                        @foreach (var version in Model.Versions)
                        {
                            <option value="@version.Id">Version: @version.Version , Last Update By: @version.ModifiedByUser</option>
                        }
                    </select>
                </div>
            </div>
            <div class="versions">
                @foreach (var version in Model.Versions)
                {
                    <div showversion="@version.Id" class="version">
                        <div class="values">
                            <div class="select-single-field">
                                <div class="label">Add To Inhouse Technical Abilities </div>
                                <div class="data">@version.AddToInhouseTechnicalAbilities</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Advantages We Offer</div>
                                <div class="data">@version.AdvantagesWeOffer</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Application</div>
                                <div class="data">@version.Application</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Benchmark Samples</div>
                                <div class="data">@version.BenchmarkSamples</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Competetion</div>
                                <div class="data">@version.Competetion</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Customer Motivation</div>
                                <div class="data">@version.CustomerMotivation</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Drawing Spec Standards</div>
                                <div class="data">@version.DrawingSpecStandards</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Other Requirements</div>
                                <div class="data">@version.OtherRequirements</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Regulatory Requirements</div>
                                <div class="data">@version.RegulatoryRequirements</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Scope</div>
                                <div class="data">@version.Scope</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Single Use Product</div>
                                <div class="data">@version.SingleUseProduct</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Technical Feasibility</div>
                                <div class="data">@version.TechnicalFeasibility</div>
                            </div>
                            <div class="select-single-field">
                                <div class="label">Why Our Offer Preferred</div>
                                <div class="data">@version.WhyOurOfferPreferred</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</form>
