@model forms.VBPDForm

@{
    ViewData["Title"] = "Create Project";
    Layout = "_VbpdProjectLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1 class="text-black"><i class='icon fas fa-edit'></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<form class="form-component" method="post">
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="fields">
            <div class="field">
                <div class="label">Project Name</div>
                <input asp-for="Name" class="data" autocomplete="off" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "Name")
                </ul>
            </div>
            <div class="field">
                <div class="label">Project Category</div>
                <select asp-for="ProjectCategoryTagId" onchange="ChangeProcess()" asp-items="Model.ProjectCategoryTagDropDown" class="data select2 projectcategory">
                    <option hidden disabled selected>-- Select --</option>
                </select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ProjectCategoryTagId")
                </ul>
            </div>
            <div class="field">
                <div class="label">Process</div>
                <input type="hidden" asp-for="ProjectProcessType" class="processtype" />
                <select asp-for="ProjectProcessTypeSelect" asp-items="Model.ProcessDropDown" class="data process"></select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ProjectProcessType")
                </ul>
            </div>
            <div class="field">
                <div class="label">Salesforce.com #</div>
                <input asp-for="Salesforce" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "Salesforce")
                </ul>
            </div>
            <div class="field">
                <div class="label">Product Line</div>
                <select asp-for="ProductLineTagId" asp-items="Model.ProductLineDropDown" class="data select2">
                    <option hidden disabled selected>-- Select --</option>
                </select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ProductLineTagId")
                </ul>
            </div>
            <div class="field">
                <div class="label">Project Classification</div>
                <select asp-for="ProjectClassificationTagId" asp-items="Model.ProjectClassificationDropDown" class="data select2">
                    <option hidden disabled selected>-- Select --</option>
                </select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ProjectClassificationTagId")
                </ul>
            </div>

            <div class="field">
                <div class="label">Design Authority</div>
                <select asp-for="DesignAuthorityTagId" asp-items="Model.DesignAuthorityDropDown" class="data select2">
                    <option hidden disabled selected>-- Select --</option>
                </select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "DesignAuthorityTagId")
                </ul>
            </div>
            <div class="field">
                <div class="label">Export/Application Type</div>
                <select asp-for="ExportApplicationTypeTagId" asp-items="Model.ExportApplicationTypeDropDown" class="data select2">
                    <option hidden disabled selected>-- Select --</option>
                </select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ExportApplicationTypeTagId")
                </ul>
            </div>
            <div class="field">
                <div class="label">End-Use Destination Country</div>
                <input class="data" asp-for="EndUseDestinationCountry" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "EndUseDestinationCountry")
                </ul>
            </div>
            <div class="field">
                <div class="label">Export Control Code(s)</div>
                <input asp-for="ExportControlCode" class="data" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "ExportControlCode")
                </ul>
            </div>
            <div class="field">
                <div class="label">Sales Regions</div>
                <select asp-for="SalesRegionIds" asp-items="Model.SalesRegionsDropDown" class="data select2">
                </select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "SalesRegionIds")
                </ul>
            </div>
            <div class="field">
                <div class="label">Customer</div>
                <select asp-for="CustomerIds" asp-items="Model.CustomerDropDown" class="data select2">
                </select>
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "CustomerIds")
                </ul>
            </div>
            <div class="field">
                <input type="submit" class="data btn" value="SUBMIT" />
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        var projectcategory = document.querySelector("projectcategory");
        var process = document.querySelector(".process");
        document.querySelector(".process").value = 'VBPD-Lite';
        document.querySelector(".processtype").value = 'VBPD-Lite';

        document.querySelector(".process").setAttribute("disabled", "disabled");
        function ChangeProcess() {
            var projectcategory = document.querySelector(".projectcategory").value;
            document.querySelector(".process").removeAttribute("disabled");

            if (projectcategory != '219') {
                document.querySelector(".process").value = 'VBPD';
                document.querySelector(".processtype").value = 'VBPD';

            } else {
                document.querySelector(".process").value = 'VBPD-Lite';
                document.querySelector(".processtype").value = 'VBPD-Lite';

            }
            document.querySelector(".process").setAttribute("disabled", "disabled");

            return true;
        };
    </script>
}