@model VbpdProjectDetail

@{
    ViewData["Title"] = "PROJECT DETAIL";
    Layout = "_VbpdProjectDetailLayout";
}



<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>PROJECT INFORMATION</h1>
            <button type="button" class="btn green" href="/vbpd-projects/@Model.ProjectDetail.ProjectId/project-detail/edit">Edit</button>
        </div>
        <div class="details">
            <div class="detail">
                <div class="label">Salesforce</div>
                <div class="value">@Model.ProjectDetail.Salesforce</div>
            </div>
            <div class="detail">
                <div class="label">Engineering Checklist Url</div>
                <div class="value">@Model.ProjectDetail.EngineeringChecklistUrl</div>
            </div>
            <div class="detail">
                <div class="label">Project Process Type</div>
                <div class="value">@Model.ProjectDetail.ProjectProcessType</div>
            </div>
            <div class="detail">
                <div class="label">Export Control Code</div>
                <div class="value">@Model.ProjectDetail.ExportControlCode</div>
            </div>
            <div class="detail">
                <div class="label">End Use Destination Country</div>
                <div class="value">@Model.ProjectDetail.EndUseDestinationCountry</div>
            </div>
            <div class="detail">
                <div class="label">Project</div>
                <div class="value">@Model.ProjectDetail.Project.Name</div>
            </div>
            <div class="detail">
                <div class="label">Product Line</div>
                <div class="value">@Model.ProjectDetail.ProductLine.Name</div>
            </div>
            <div class="detail">
                <div class="label">Project Classification</div>
                <div class="value">@Model.ProjectDetail.ProjectClassification.Name</div>
            </div>
            <div class="detail">
                <div class="label">Project Category</div>
                <div class="value">@Model.ProjectDetail.ProjectCategory.Name</div>
            </div>
            <div class="detail">
                <div class="label">Design Authority</div>
                <div class="value">@Model.ProjectDetail.DesignAuthority.Name</div>
            </div>
            <div class="detail">
                <div class="label">Export Application Type</div>
                <div class="value">@Model.ProjectDetail.ExportApplicationType.Name</div>
            </div>
            <div class="detail">
                <div class="label">Customers</div>
                <div class="value">@Helpers.GetDelimited(Model.ProjectDetail.Customers.Select(s => s.Customers.Name).ToList())</div>
            </div>
            <div class="detail">
                <div class="label">Sales Regions</div>
                <div class="value">@Helpers.GetDelimited(Model.ProjectDetail.SalesRegions.Select(s => s.SalesRegion.Name).ToList())</div>
            </div>
            <div class="detail">
                <div class="label">End Use Countries</div>
                <div class="value">@Helpers.GetDelimited(Model.ProjectDetail.EndUseCountries.Select(s => s.EndUserCountries.Name).ToList())</div>
            </div>
        </div>
    </div>
</div>

<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>TEAM MEMBERS</h1>
            <button type="button" class="btn green">Edit</button>
        </div>
        <div class="details">
            @foreach (var members in Model.TeamMembers)
            {
                var users = members.Select(s => s.User.NetworkUsername).ToList();
                var mergedUsers = Helpers.GetDelimited(users);
                var title = Helpers.GetFriendlyKeyName(members.Key);

                <div class="detail">
                    <div class="label">@title</div>
                    <div class="value">@mergedUsers</div>
                </div>
            }
        </div>
    </div>
</div>
