@model StageConfigViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h2>UPDATE STAGE</h2>
@Html.Partial("_StageConfigForm.cshtml", Model)

<h2>GATE @Model.StageNumber - GATE KEEPERS</h2>
@if (Model.GateKeepers.Count > 0) {
    <div class="list-component">
        <div class="wrapper">
            <div class="title by-1">
                <div>GATE KEEPER TITLE</div>
            </div>
            <div class="items">
                @foreach (var keeper in Model.GateKeepers) {
                    <div class="item">
                        <div class="item-wrapper by-1">
                            <div>@keeper</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else {
    @Html.Partial("_NoData")
}

<h2>ADD GATE KEEPER TITLE</h2>
<form class="form-component" method="post" action="/admin/stage-config/create/gate-keeper">
    <input name="stageId" value="@Model.Id" type="hidden" />
    <input name="gateNumber" value="@Model.StageNumber" type="hidden" />
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="fields">
            <div class="field">
                <div class="label">GATE KEEPER TITLE</div>
                <input name="keeper" class="data" type="text" />
                <ul class="errors">
                    @Html.Partial("_FieldErrors", "keeper")
                </ul>
            </div>

            <div class="field">
                <input type="submit" class="data btn" value="SUBMIT" />
            </div>
        </div>
    </div>
</form>
